<h3>Hello <%= @passenger.name %></h3>

<p>
  Thank you for choosing Odin-Flight-Booker. You can see your flight info by clicking the link below.
</p>

<%= link_to "Booking Info", booking_url(@passenger.bookings.last) %>