@import "bootstrap-sprockets";
@import "bootstrap";

body,
html {
  width: 100%;
  height: 100%;
  //overflow: hidden;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 50px 0 50px;
  overflow: hidden;

}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
  height: 80px;
}

p.copyright {
  margin: 15px 0 0;
}

#footer-button {
  background: #D8D8D8;
  width: 150px;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float: none;
  font-size: 1.5em;
  &:hover {
    border-bottom: 3px solid black;
  }
}

#search-form {
  border: 1px solid black;
  padding-bottom: 40px;
  padding-top: 15px;
  border-radius: 20px;
  background: rgb(240, 240, 240);
}

#search-btn {
  color: white;
  border: gray;
  background: #373333;
  &:hover{
    background: black;
  }
  &:active{
    background: black;
    border: gray;
  }
}

#order-btn {
  color: white;
  border: gray;
  background: #373333;
  &:hover{
    background: black;
  }
  &:active{
    background: black;
    border: gray;
  }
}

#confirm-btn {
  color: white;
  border: gray;
  background: #373333;
  &:hover{
    background: black;
  }
  &:active{
    background: black;
    border: gray;
  }
}