<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline intro-social-buttons text-center">
          <li>
            <a href="https://www.facebook.com/profile.php?id=1012276396" id="footer-button" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="https://github.com/antrix1/" id="footer-button" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://rs.linkedin.com/pub/andrej-dragojevic/b7/a51/735" id="footer-button" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
        <p class="copyright text-muted small text-center">Copyright &copy; Andrej Dragojevic</p>
      </div>
    </div>
  </div>
</footer>