<nav class="navbar navbar-default topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <%= link_to root_url, id: 'logo', class: 'navbar-brand topnav' do %>
          <i class="fa fa-plane"></i>
          Flight Booker
      <% end %>
    </div>
  </div>

</nav>
